<!-- <div class="text-center">
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
</div> -->

<div class="container">
<form class="form-inline text-center coach" action="/answer">
  <div class="form-group">
    <label for="exampleInputEmail3">Speak to your coach</label>
    <input type="text" class="form-control" name="query" id="exampleInputEmail3" placeholder="What's on your mind?">
  </div>
   <button type="submit" class="btn btn-primary">Go on!</button>
  </form>
  </div>
